# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage

# Production
dist
build

# Misc
.DS_Store
.env
.env.*
.npmrc
*.tgz
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editors
.vscode
.idea
*.swp
*.swo
